{%load static%}
<!DOCTYPE html>  
<html>  
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/AboutUsPage.css' %}"> 
    <title>About Us Page</title>  

</head>  
<body>  
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand text-white" href="{% url 'home' %}"><img src="{%static 'image/logo.png'%}" width="80" > Reading & Writing Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-2">
                    <input type="search" class="nav-link" placeholder="Search">
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'about_us' %}">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'sign_in' %}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'sign_up' %}">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br>
<main>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 content-container">
                <h2>Nice To Meet You Book Lovers 💖.</h2>
                <p>Nice to meet you, book lovers! Whether you're an avid reader, a collector of rare editions, or someone who simply enjoys the occasional good story, this is the perfect place for you. Here, we celebrate the magic of books and the joy of reading, sharing our favorite reads, discussing the latest releases, and exploring the endless worlds that literature offers. Let's dive into the pages together and discover new stories, characters, and adventures. Welcome to our community! 💖💖💖💖</p>
            </div>
            <div class="col-md-6 image-container text-center">
                <img src="https://img.freepik.com/free-photo/portrait-young-students-with-books-education-day_23-2150980051.jpg?semt=ais_hybrid" alt="Book Lover">
            </div>
        </div>
    </div>
        <hr>
    
    <div class="container mt-4">
        <h2 class="large-heading container text-center my-5">What this website offers you..</h2>
            <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <div class="card-body text-center text-white bg-dark">
                    <p class="bold-text">Readers Community <br>📚🤓</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <div class="card-body text-center text-white bg-dark">
                    <p class="bold-text">Writers Community <br>📔✏️</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <div class="card-body text-center text-white bg-dark">
                    <p class="bold-text">Clubs and Events Community🎧📚</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        <hr>
<div class="container container-custom">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <h2>Contact Us</h2>
                <form>
                    <div class="form-group">
                        <form action="{%url 'about_us' %}" method="POST" onsubmit="sendEmail(); reset(); return false;">
                            {% comment %} {%csrf_token%} {% endcomment %}
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" name="comment" class="form-control-textarea " required></textarea>
                    </div>
                    <button type="submit" class="btn btn-white text-dark btn-custom">Send</button>
                        </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card faq-card text-white bg-dark">
                <h2>Frequent Questions</h2>
                 <h4>How can I find books in a specific genre on your website?</h4>
                <details >You can browse books by genre using our genre filter located on the main menu or by visiting the 'Genres' section. You can also use the search bar to find specific books or authors.</details>
                <h4>Do you offer book recommendations?</h4>
                <details>Yes, we provide personalized book recommendations based on your reading history and preferences. You can also check out our curated lists and featured recommendations on the homepage.</details>
                <h4>How can I leave a review for a book?</h4>
                <details>To leave a review, simply navigate to the book's page and click on the 'Write a Review' button. You can rate the book, share your thoughts, and help other readers make informed choices.</details>
                <h4>Do you have a book club or discussion forums?</h4>
                <details>Yes, we have an online book club and discussion forums where members can discuss books, share insights, and connect with fellow readers. You can join a group that matches your interests or start your own.</details>
                <h4>How can I track my reading progress?</h4>
                <details>You can track your reading progress by logging into your account and using our reading tracker feature. It allows you to mark books as 'Currently Reading,' 'Want to Read,' or 'Read,' and provides stats on your reading habits.</details>
            </div>
        </div>
    </div>
</div>
</main> 
    <hr>
    <footer class="bg-dark text-white text-center text-lg-start">
        <h3 class=" p-3 bg-secondary">Reading & Writing Books</h3>
        <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Email: contact@readingwritingbooks.com</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Phone: +972 321 456 897</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Address: Palestine, Ramallah</a>
                </li>
                {% comment %} <li>
                    <a href="#!" class="text-white">Website Logo by: Meriem Khali</a>
                </li> {% endcomment %}
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Company</h5>
            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">About Us</a>
                </li>
                <li>
                <a href="#!" class="text-white">Privacy Policy</a>
                </li>
                <li>
                <a href="#!" class="text-white">Terms of Service</a>
                </li>
                <li>
                <a href="#!" class="text-white">Cookie Policy</a>
                </li>
            </ul>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Social Media</h5>
            <ul class="list-unstyled mb-0">
                <li>
                <a href="https://facebook.com" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                <li>
                <a href="https://twitter.com" class="text-white"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li>
                <a href="https://instagram.com" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    
        <div class="text-center p-3 bg-secondary">
        <small> Copyright © Reading & Writing Books, Website Logo by: Meriem Khali. All rights reserved.</small>
        </div>
    </footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
function sendEmail(){
    Email.send({
        Host : "smtp.gmail.com",
        Username : "bayan.sarari97@gmail.com",
        Password : "xzsawq2198@",
        To : 'bayan.sarari97@gmail.com',
        From : document.getElementById("email").value,
        Subject : "New Comment Form Enquiry",
        Body : "And this is the body"
    }).then(
        message => alert(message)
    );
}
</script>
</body>  
</html> 