{%load static%}
<!DOCTYPE html>  
<html>  
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/CreateBook.css' %}"> 

    <title>Create Book Page</title>
    
    <!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/bphxg81fq9qq6v9c4sfukqf70cn1po3u48q0r9kixstlpb6g/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
{% comment %} <script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
</script> {% endcomment %}
<style> 
    textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    ont-size: 16px;
    resize: none;
    }
    </style>
</head>  
<body>  
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand text-white" href="{% url 'home' %}"><img src="{%static 'image/logo.png'%}" width="80" > Reading & Writing Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% comment %} <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'reader_home_page'%}">Reader Community</a>
                </li> {% endcomment %}
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'writer_home_page'%}">Writer Home Page</a>
                </li>
                <li class="nav-item mx-2">
                    <input type="search" class="nav-link" placeholder="Search">
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'writer_profile' %}">Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'about_us' %}">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'sign_out' %}">Sign out</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'sign_up' %}">Sign up</a>
                </li> {% endcomment %}
            </ul>
        </div>
    </nav>
</header>
<section>
    <div class="form-container">
        <h2>Create Book Page</h2>
        <form action="{% url 'create_book' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Book Title:</label>
                <input type="text" id="book-title" name="title" required>
            </div>
            <div class="form-group">
                <label for="genre">Book Genre:</label>
                <input type="text" id="book-genre" name="genre" required>
                <br>
                <label for="description">Book Description:</label>
                <textarea type="text" id="book-description" name="description" required></textarea>
            </div>
            <div class="form-group-file">
                <div class="upload-container">
                    <div class="header-section">
                        <h2>Upload Files</h2>
                        <p>Upload files you want to share with your team members.</p>
                        <p>PDF, Images & Videos are allowed.</p>
                    </div>
                    <div class="drop-section">
                        <div class="col">
                            <div class="cloud-icon">
                                <img src="https://cdn-icons-png.freepik.com/512/4725/4725573.png" alt="cloud" width="25%">
                            </div>
                            <span>Drag & Drop your files here</span>
                            <span>OR</span>
                            <button class="file-selector" type="button">Browse Files</button>
                            <input type="file" class="file-selector-input" name="book_file" multiple>
                        </div>
                        <div class="col">
                            <div class="drop-here">Drop Here</div>
                        </div>
                    </div>
                    <div class="list-section">
                        <div class="list-title">Uploaded Files</div>
                        <div class="list"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="save-button">Save</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color:red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </section>
    <hr>
    <footer class="bg-dark text-white text-center text-lg-start">
        <h3 class=" p-3 bg-secondary">Reading & Writing Books</h3>
        <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Email: contact@readingwritingbooks.com</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Phone: +972 321 456 897</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Address: Palestine, Ramallah</a>
                </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Company</h5>
            <ul class="list-unstyled mb-0">
                <li>
                <a href="#!" class="text-white">About Us</a>
                </li>
                <li>
                <a href="#!" class="text-white">Privacy Policy</a>
                </li>
                <li>
                <a href="#!" class="text-white">Terms of Service</a>
                </li>
                <li>
                <a href="#!" class="text-white">Cookie Policy</a>
                </li>
            </ul>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Social Media</h5>
            <ul class="list-unstyled mb-0">
                <li>
                <a href="https://facebook.com" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                <li>
                <a href="https://twitter.com" class="text-white"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li>
                <a href="https://instagram.com" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    
        <div class="text-center p-3 bg-secondary">
        <small> Copyright © Reading & Writing Books. All rights reserved.</small>
        </div>
    </footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>


<script>
const dropArea = document.querySelector('.drop-section')
const listSection = document.querySelector('.list-section')
const listContainer = document.querySelector('.list')
const fileSelector = document.querySelector('.file-selector')
const fileSelectorInput = document.querySelector('.file-selector-input')

// upload files with browse button
fileSelector.onclick = () => fileSelectorInput.click()
fileSelectorInput.onchange = () => {
    [...fileSelectorInput.files].forEach((file) => {
        if(typeValidation(file.type)){
            uploadFile(file)
        }
    })
}

// when file is over the drag area
dropArea.ondragover = (e) => {
    e.preventDefault();
    [...e.dataTransfer.items].forEach((item) => {
        if(typeValidation(item.type)){
            dropArea.classList.add('drag-over-effect')
        }
    })
}
// when file leave the drag area
dropArea.ondragleave = () => {
    dropArea.classList.remove('drag-over-effect')
}
// when file drop on the drag area
dropArea.ondrop = (e) => {
    e.preventDefault();
    dropArea.classList.remove('drag-over-effect')
    if(e.dataTransfer.items){
        [...e.dataTransfer.items].forEach((item) => {
            if(item.kind === 'file'){
                const file = item.getAsFile();
                if(typeValidation(file.type)){
                    uploadFile(file)
                }
            }
        })
    }else{
        [...e.dataTransfer.files].forEach((file) => {
            if(typeValidation(file.type)){
                uploadFile(file)
            }
        })
    }
}


// check the file type
function typeValidation(type){
    var splitType = type.split('/')[0]
    if(type == 'application/pdf' || splitType == 'image' || splitType == 'video'){
        return true
    }
}

// upload file function
function uploadFile(file){
    listSection.style.display = 'block'
    var li = document.createElement('li')
    li.classList.add('in-prog')
    li.innerHTML = `
        <div class="col">
            <img src="icons/${iconSelector(file.type)}" alt="">
        </div>
        <div class="col">
            <div class="file-name">
                <div class="name">${file.name}</div>
                <span>0%</span>
            </div>
            <div class="file-progress">
                <span></span>
            </div>
            <div class="file-size">${(file.size/(1024*1024)).toFixed(2)} MB</div>
        </div>
        <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" class="cross" height="20" width="20"><path d="m5.979 14.917-.854-.896 4-4.021-4-4.062.854-.896 4.042 4.062 4-4.062.854.896-4 4.062 4 4.021-.854.896-4-4.063Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="tick" height="20" width="20"><path d="m8.229 14.438-3.896-3.917 1.438-1.438 2.458 2.459 6-6L15.667 7Z"/></svg>
        </div>
    `
    listContainer.prepend(li)
    var http = new XMLHttpRequest()
    var data = new FormData()
    data.append('file', file)
    http.onload = () => {
        li.classList.add('complete')
        li.classList.remove('in-prog')
    }
    http.upload.onprogress = (e) => {
        var percent_complete = (e.loaded / e.total)*100
        li.querySelectorAll('span')[0].innerHTML = Math.round(percent_complete) + '%'
        li.querySelectorAll('span')[1].style.width = percent_complete + '%'
    }
    http.open('POST', 'sender.php', true)
    http.send(data)
    li.querySelector('.cross').onclick = () => http.abort()
    http.onabort = () => li.remove()
}
// find icon for file
function iconSelector(type){
    var splitType = (type.split('/')[0] == 'application') ? type.split('/')[1] : type.split('/')[0];
    return splitType + '.png'
}
</script>
</body>  
</html> 