{%load static%}
<!DOCTYPE html>  
<html>  
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/EditReaderProfilePage.css' %}"> 
    <title>Home Page</title>
    <style>
        #image-logo{
            width:10%;
            height:10%;
        }
    </style>  
    
</head>  
<body>  
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand text-white" href="{% url 'home' %}"><img src="{%static 'image/logo.png'%}" width="50" id="image-logo" > Reading & Writing Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'reader_home_page' %}">Reader Home Page</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'all_books_page' %}">Books Page</a>
                </li> 
                <li class="nav-item mx-2">
                    <input type="search" class="nav-link" placeholder="Search">
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'reader_profile' %}">Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="{% url 'about_us' %}">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'sign_in' %}">Sign out</a>
                </li>
                
            </ul>
        </div>
    </nav>
    </nav>
</header>
<section>
    <div>
        <img src="https://img.freepik.com/free-photo/3d-render-little-boy-with-jacket-jeansie_1142-57736.jpg?ga=GA1.1.1189569181.1722467032&semt=ais_hybrid" alt="user image">
        <a href="">Update Photo</a>
    </div>
    <div class="container">
        <h2>Edit Profile</h2>
        <form method="POST" action="{% url 'edit_reader_profile' user.id %}">
            {% csrf_token %}
            <input type="text" placeholder="First Name .." name="first_name" value="{{ user.first_name }}">
            <input type="text" placeholder="Last Name .." name="last_name" value="{{ user.last_name }}">
            <input type="text" placeholder="Username .." name="username" value="{{ user.username }}">
            <input type="email" placeholder="Email .." name="email" value="{{ user.email }}">
            <textarea placeholder="Bio .." name="bio">{{ user.bio }}</textarea>
            <button type="submit" class="btn bg-dark">Update Profile</button>
            {% comment %} <button type="button"><a href="{% url 'writer_profile' %}">View Profile</a></button> {% endcomment %}
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="color:red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>  
</html> 