{%load static%}
<!DOCTYPE html>  
<html>  
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <title>Home Page</title>  
</head>  
<body>  
<header>
    <img src="" alt="">
    <h1>Reading & Writing Books</h1>
    <a href="">Sign in</a>
    <a href="">Sign up</a>
    <nav>
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="ReaderCommunity.html">Reader Community</li>
            <li><a href="WriterCommunity.html">Writer Community</a></li>
            <li><a href="AboutUsPage.html">About Us</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2> Start Your Reading or Writing Books Journey Here.</h2>
        <button>Strat Your Journey</button>
        <hr>
    <h2>About Communities..</h2>
    <div><p>Readers 📚🤓</p></div>    
    <div><p>Writers 📔✏️</p></div>  
    <div><p>Clubs and Events 🎧📚</p></div>
        <hr>
    <h2> Users Feedback </h2>
    <div class="row">
        <div class="column">
        <div class="card">
            <img src="https://img.freepik.com/premium-photo/pixar-style-3d-cartoon-character_63106-3548.jpg" alt="Jane" style="width:30%">
            <div class="container">
            <h2>Atlas</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            </div>
        </div>
        </div>

        <div class="column">
        <div class="card">
            <img src="https://img.freepik.com/premium-photo/3d-beautiful-boy-cartoon-style_894067-16040.jpg" alt="Mike" style="width:30%">
            <div class="container">
            <h2>Mike</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            </div>
        </div>
        </div>
        
        <div class="column">
        <div class="card">
            <img src="https://img.freepik.com/premium-photo/animated-character-with-red-hair-orange-hair_893012-68515.jpg" alt="John" style="width:30%">
            <div class="container">
            <h2>Emily</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            </div>
        </div>
        </div>
    </div>   
</main> 
    <hr>
<footer>
    <h3>Reading & Writing Books</h3>
    <h4>Contact Us</h4>
    <p><img src="https://img.icons8.com/?size=48&id=96403&format=png" alt="phone"> Phone Number: +972 321 456 897</p>
    <p><img src="https://img.icons8.com/?size=48&id=35084&format=png" alt="email"> Email:  contact@readingwritingbooks.com</p>
    <h4>Follow Us</h4>
    <a href="#"><img src="https://img.icons8.com/?size=48&id=118497&format=png" alt="Facebook"></a>
    <a href="#"><img src="https://img.icons8.com/?size=48&id=13963&format=png" alt="Twitter"></a>
    <a href="#"><img src="https://img.icons8.com/?size=48&id=32323&format=png" alt="Instagram"></a>
    <h4>Company</h4>
    <a href="#">About Us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
    <a href="#">Cookie Policy</a>
    <br>
    <small> Copyright © Reading & Writing Books. All rights reserved.</small>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>  
</html> 